/* FORM */

.informacion-contacto {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 40rem;
  margin: 2rem auto;

  label {
    display: block;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
  }
}
