/* MAIN */
#inicio {
  width: inherit;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(0.4rem);
}

#main-page {
  flex-direction: column;
}

@media (min-width: 480px) {
  #main-page {
    flex-direction: row;
    gap: 2rem;
  }
}

aside {
  h2 {
    color: var(--primary-color-500);
  }
}

.recursos {
  justify-content: center;
}

.testimonios {
  max-width: 50rem;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 5rem;
  background-color: var(--primary-color-200);
}
