/* POR QUE NOSOTROS */

#porque-nosotros {
  justify-content: center;
  align-items: center;
  background-color: $dark;
  margin: 2rem auto;
  padding: 5rem 0;

  & > div {
    max-width: 60rem;
  }

  p {
    color: $primary-color-50;
  }
}
