*,
*::before,
*::after,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: "Roboto", "Open Sans";
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", "Open Sans";
  font-weight: bold;
  margin: 2rem 0;
}

h1 {
  font-size: 3.6rem;
  text-align: center;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

section {
  margin: 3rem 0;
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

#banner {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60rem;
}

#header {
  padding: 2rem 0 5rem;
  color: white;
  background-color: var(--bg-dark);
}
#header a {
  color: white;
}

#header > div {
  justify-content: space-between;
}

nav > ul {
  gap: 4rem;
}

#footer {
  padding: 5rem 0 2rem;
  text-align: center;
  color: white;
  background-color: var(--bg-dark);
  margin-top: auto;
}
